{{ section.settings.custom_liquid }}
{% schema %}
{
   "name": "Cities Gold Rate",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Cities Gold Rate",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "Cities Gold Rate"
   }]
}
{% endschema %}

<h2 style="text-align: left;" data-mce-style="text-align: left;"><b>Today Gold Rate&nbsp;</b></h2>
<div class="div-1">
  <iframe
    class="frame-1"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpcrDqeHiHaOmpZuLvtTEjCqln6-KlMAypVpSOKCX3B2067Q67j6WIC_KCJqD0dI45HdypmDIvUMwH/pubhtml?gid=1883462982&amp;single=true&amp;widget=true&amp;headers=false"
    width="800"
    height="300"
  ></iframe>

  <p class="p-text-1" style="text-align: left;">
    Today's Gold Prices in Karachi reveal that 24K gold is priced at <span data-mce-fragment="1">Rs.249150</span>
    <span data-mce-fragment="1">&nbsp;</span>for 10 grams and&nbsp;<span data-mce-fragment="1">Rs.213609.6 </span>per
    tola, based on the data as per today, from the Karachi
    <a href="https://www.investing.com/" title="https://www.investing.com/">Jewelers</a> Association. Keep in mind these
    rates are subject to change following international market trends.&nbsp;
  </p>
</div>

<b class="head-text">Gold Performance in Karachi (Last 1 year)</b>

<p class="p-text-2">
  This table shows the gold performance in Karachi over the last 1 year, with the difference in price (in Pakistani
  Rupees) and percentage change from the previous time period.
</p>
<table
  class="year-sheet"
  xmlns="http://www.w3.org/1999/xhtml"
  cellspacing="0"
  cellpadding="0"
  dir="ltr"
  border="1"
  data-sheets-root="1"
  data-mce-fragment="1"
>
  <colgroup data-mce-fragment="1">
    <col width="100" data-mce-fragment="1">
    <col width="122" data-mce-fragment="1">
    <col width="100" data-mce-fragment="1">
  </colgroup>
  <tbody data-mce-fragment="1">
    <tr data-mce-fragment="1">
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Period&quot;}" data-mce-fragment="1">
        <strong>Period</strong>
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Difference (PKR)&quot;}" data-mce-fragment="1">
        <strong>Difference (PKR)</strong>
      </td>
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Difference (%)&quot;}" data-mce-fragment="1">
        <div data-mce-fragment="1">
          <div data-mce-fragment="1"><strong>Difference (%)</strong></div>
        </div>
      </td>
    </tr>
    <tr data-mce-fragment="1">
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Yesterday Difference&quot;}" data-mce-fragment="1">
        Yesterday Difference
      </td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:0}" data-mce-fragment="1">0</td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:0}" data-mce-fragment="1">0</td>
    </tr>
    <tr data-mce-fragment="1">
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Last Month Difference&quot;}" data-mce-fragment="1">
        Last Month Difference
      </td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:8350}" data-mce-fragment="1">8350</td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:3.47}" data-mce-fragment="1">3.47</td>
    </tr>
    <tr data-mce-fragment="1">
      <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Last Year Difference&quot;}" data-mce-fragment="1">
        Last Year Difference
      </td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:42350}" data-mce-fragment="1">42350</td>
      <td data-sheets-value="{&quot;1&quot;:3,&quot;3&quot;:20.48}" data-mce-fragment="1">20.48</td>
    </tr>
  </tbody>
</table>

{%- comment -%} Graph {%- endcomment -%}
<iframe
  height="600"
  width="100%"
  src="https://goldbroker.com/widget/live/XAU?currency=USD&amp;height=600"
  frameborder="0"
  scrolling="no"
>
  The line graph above presents a detailed insight into the daily gold rates in Karachi over the span of 30 days,
  ranging from 15nd October 2023 to 16th November 2023. The statistics provided cover various karats and measurements of
  gold, thus giving a comprehensive view of the gold market in Karachi during this period.</iframe
>

<tbody data-mce-fragment="1">
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Top Cities&quot;}" data-mce-fragment="1">
      <strong>Top Cities</strong>
    </td>
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Visit for Updared Price&quot;}" data-mce-fragment="1">
      <div data-mce-fragment="1">
        <div data-mce-fragment="1"><strong>Visit for Updated Price</strong></div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Islamabad&quot;}" data-mce-fragment="1">Islamabad</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Islamabad&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-islamabad"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-islamabad"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-islamabad"
            target="_blank"
            >Gold Rate in Islamabad</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Karachi&quot;}" data-mce-fragment="1">Karachi</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Karachi&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-karachi"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-karachi"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-karachi"
            target="_blank"
            >Gold Rate in Karachi</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Faisalabad&quot;}" data-mce-fragment="1">Faisalabad</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Faisalabad&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-faisalabad"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-faisalabad"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-faisalabad"
            target="_blank"
            >Gold Rate in Faisalabad</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Quetta&quot;}" data-mce-fragment="1">Quetta</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Quetta&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-quetta"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-quetta"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-quetta"
            target="_blank"
            >Gold Rate in Quetta</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Lahore&quot;}" data-mce-fragment="1">Lahore</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Lahore&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-lahore"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-lahore"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-lahore"
            target="_blank"
            >Gold Rate in Lahore</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Peshawar&quot;}" data-mce-fragment="1">Peshawar</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Peshawer&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-peshawar"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-peshawar"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-peshawar"
            target="_blank"
            >Gold Rate in Peshawer</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gilgit&quot;}" data-mce-fragment="1">Gilgit</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Gilgit&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-gilgit"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-gilgit"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-gilgit"
            target="_blank"
            >Gold Rate in Gilgit</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Sailkot&quot;}" data-mce-fragment="1">Sailkot</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Sailkot&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-sialkot"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-sialkot"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-sialkot"
            target="_blank"
            >Gold Rate in Sailkot</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Skardu&quot;}" data-mce-fragment="1">Skardu</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Skardu&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-skardu"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-skardu"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-skardu"
            target="_blank"
            >Gold Rate in Skardu</a
          >
        </div>
      </div>
    </td>
  </tr>
  <tr data-mce-fragment="1">
    <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Sukkur&quot;}" data-mce-fragment="1">Sukkur</td>
    <td
      data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gold Rate in Sakkur&quot;}"
      data-sheets-hyperlink="https://alita.pk/pages/gold-rate-in-sukkur"
      data-mce-fragment="1"
    >
      <div data-mce-fragment="1">
        <div data-mce-fragment="1">
          <a
            class="in-cell-link"
            href="https://alita.pk/pages/gold-rate-in-sukkur"
            data-mce-fragment="1"
            data-mce-href="https://alita.pk/pages/gold-rate-in-sukkur"
            target="_blank"
            >Gold Rate in Sakkur</a
          >
        </div>
      </div>
    </td>
  </tr>
</tbody>
