<section>
                <div class="container">
                    <div data-ajax-url="/widget/live-table/XAU/PKR"><div class="d-flex flex-row flex-wrap align-items-end w-100 border-btm-1 pb-3 mb-lg-5">
            <div class="spot-price-per-ounce">
            <div class="me-3">
                <div class="d-flex flex-column d-block d-md-none">
                    <span class="medium-text" style="opacity: 0.7">
                        1 ounce
                    </span>
                </div>

                <span class="large-price">PKR&nbsp;747,973.00</span>
            </div>

            <span class="performance-up">1.08</span>
        </div>

        <div class="vertical-element-separator bg-silver d-none d-md-block"></div>

        <div class="d-flex flex-column me-3">
            <span class="medium-text" style="opacity: 0.7">
                1 kilogram
            </span>
            <span class="subtitle" style="font-size: 22px; line-height: 1; font-weight: 400">
                PKR&nbsp;24,047,890.36
            </span>
        </div>

        <div class="vertical-element-separator bg-silver d-none d-md-block"></div>

        <div class="d-flex flex-column">
            <span class="medium-text" style="opacity: 0.7">
                 1 gram
            </span>
            <span class="subtitle" style="font-size: 22px; line-height: 1; font-weight: 400">
                PKR&nbsp;24,047.89
            </span>
        </div>
    </div></div>
                    <div class="pb-5">
                        <div class="ajax-target">
                    
    <div id="chart_1423759055" class="chart chart-live" data-action="live" data-data-url="/api/spot-prices?metal=XAU&amp;currency=PKR&amp;weight_unit=oz&amp;boundaries=1" data-currency="PKR" data-metal="XAU" data-value-title="Gold Price per Ounce" data-watermark="/build/core/images/logo/en/horizontal.8865a733.svg" data-watermark-url="https://goldbroker.com/"><div class="amcharts-stock-div" style="position: relative;"><div class="amcharts-center-div"><div class="amcharts-panels-div position-relative" style="height: 300px;"><div class="custom-data" style="right: 7px;"><span class="last-value">PKR&nbsp;751,190.00</span><span class="performance performance-up">0.60</span><div><span class="btn btn-sm btn-default zoom-out" style="display: none;"><i class="fas fa-search-minus"></i> Max</span></div></div><div class="amChartsPanel amcharts-stock-panel-div amcharts-stock-panel-div-stockPanel0" style="height: 300px; width: 100%; overflow: hidden; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 523px; height: 300px; padding: 0px; cursor: default; touch-action: auto;"><svg version="1.1" style="position: absolute; width: 523px; height: 300px; top: 0.421875px; left: 0px;"><desc>JavaScript chart by amCharts 3.21.15</desc><g><path cs="100,100" d="M0.5,0.5 L522.5,0.5 L522.5,299.5 L0.5,299.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,0.5 L485.5,0.5 L485.5,264.5 L0.5,264.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" transform="translate(30,0)"></path></g><g><g transform="translate(30,0)"><g><path cs="100,100" d="M54.5,264.5 L54.5,264.5 L54.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M162.5,264.5 L162.5,264.5 L162.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M269.5,264.5 L269.5,264.5 L269.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M377.5,264.5 L377.5,264.5 L377.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M485.5,264.5 L485.5,264.5 L485.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g><g transform="translate(30,0)" visibility="visible"><g><path cs="100,100" d="M0.5,264.5 L0.5,264.5 L485.5,264.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,211.5 L0.5,211.5 L485.5,211.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,158.5 L0.5,158.5 L485.5,158.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,106.5 L0.5,106.5 L485.5,106.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,53.5 L0.5,53.5 L485.5,53.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L485.5,0.5" fill="none" stroke-width="1" stroke-dasharray="3" stroke-opacity="0.1" stroke="#FFFFFF"></path></g></g></g><g transform="translate(30,0)" clip-path="url(#AmChartsEl-193)"><g visibility="hidden"></g></g><g></g><g></g><g></g><g><g transform="translate(30,0)"><g></g><g clip-path="url(#AmChartsEl-195)"><path cs="100,100" d="M0.5,192.296 L2.5,185.036 L3.5,180.812 L5.5,182.7128 L6.5,177.908 L8.5,178.3832 L9.5,177.4856 L11.5,176.6144 L12.5,182.3432 L14.5,174.1856 L15.5,170.9384 L17.5,172.9448 L18.5,172.628 L20.5,177.0632 L21.5,141.2384 L23.5,177.6176 L24.5,177.4592 L26.5,178.832 L27.5,178.568 L29.5,176.6408 L30.5,177.0368 L32.5,177.3008 L33.5,176.72 L35.5,177.116 L36.5,181.1288 L38.5,169.4336 L39.5,173.8424 L41.5,175.9544 L42.5,180.0464 L44.5,177.644 L45.5,176.7728 L47.5,174.8456 L48.5,173.1032 L50.5,169.328 L51.5,156.1016 L53.5,159.6128 L54.5,167.0576 L56.5,171.176 L57.5,176.9576 L59.5,170.2784 L60.5,169.3016 L62.5,156.7088 L63.5,145.172 L65.5,137.516 L66.5,136.0376 L68.5,133.3448 L69.5,136.2224 L71.5,130.784 L72.5,134.216 L73.5,144.4328 L75.5,147.3368 L76.5,129.992 L78.5,130.1504 L79.5,130.0712 L81.5,133.8992 L82.5,131.5496 L84.5,129.464 L85.5,131.8136 L87.5,128.4608 L88.5,142.8488 L90.5,89.4416 L91.5,91.2104 L93.5,90.392 L94.5,91.4216 L96.5,87.6464 L97.5,75.5288 L99.5,80.7296 L100.5,83.0528 L102.5,77.6408 L103.5,105.9944 L105.5,107.1032 L106.5,88.6496 L108.5,109.4264 L109.5,100.6352 L111.5,101.4272 L112.5,94.8008 L114.5,90.8408 L115.5,93.956 L117.5,81.6008 L118.5,91.1048 L120.5,104.2784 L121.5,76.0832 L123.5,125.6888 L124.5,108.74 L126.5,112.8584 L127.5,119.8016 L129.5,125.6096 L130.5,113.5184 L132.5,118.2968 L133.5,117.0296 L135.5,128.012 L136.5,113.492 L138.5,171.5984 L139.5,176.2976 L141.5,183.452 L142.5,186.62 L144.5,194.9096 L145.5,242.5352 L147.5,214.208 L148.5,215 L150.5,232.5824 L151.5,243.8552 L153.5,229.784 L154.5,221.2832 L156.5,201.5096 L157.5,172.4696 L159.5,151.3232 L160.5,163.8104 L162.5,137.8328 L163.5,158.372 L165.5,138.6776 L166.5,126.7712 L168.5,126.2432 L169.5,98.4176 L171.5,100.0544 L172.5,109.4792 L174.5,104.8064 L175.5,104.9384 L177.5,102.7472 L178.5,107.1296 L180.5,102.7472 L181.5,108.2912 L183.5,85.2176 L184.5,116.9768 L186.5,109.3208 L187.5,106.9976 L189.5,121.28 L190.5,108.8192 L192.5,75.0272 L193.5,89.5736 L195.5,74.0504 L196.5,78.8552 L198.5,75.608 L199.5,102.2984 L201.5,81.3368 L202.5,74.5256 L204.5,76.1624 L205.5,79.8056 L207.5,53.1416 L208.5,69.8528 L210.5,74.684 L210.5,264.5 L0.5,264.5 L0.5,192.296 Z" fill="#f0d7a5" stroke="#000" fill-opacity="0.1" stroke-width="1" stroke-opacity="0"></path><path cs="100,100" d="M0.5,192.296 L2.5,185.036 L3.5,180.812 L5.5,182.7128 L6.5,177.908 L8.5,178.3832 L9.5,177.4856 L11.5,176.6144 L12.5,182.3432 L14.5,174.1856 L15.5,170.9384 L17.5,172.9448 L18.5,172.628 L20.5,177.0632 L21.5,141.2384 L23.5,177.6176 L24.5,177.4592 L26.5,178.832 L27.5,178.568 L29.5,176.6408 L30.5,177.0368 L32.5,177.3008 L33.5,176.72 L35.5,177.116 L36.5,181.1288 L38.5,169.4336 L39.5,173.8424 L41.5,175.9544 L42.5,180.0464 L44.5,177.644 L45.5,176.7728 L47.5,174.8456 L48.5,173.1032 L50.5,169.328 L51.5,156.1016 L53.5,159.6128 L54.5,167.0576 L56.5,171.176 L57.5,176.9576 L59.5,170.2784 L60.5,169.3016 L62.5,156.7088 L63.5,145.172 L65.5,137.516 L66.5,136.0376 L68.5,133.3448 L69.5,136.2224 L71.5,130.784 L72.5,134.216 L73.5,144.4328 L75.5,147.3368 L76.5,129.992 L78.5,130.1504 L79.5,130.0712 L81.5,133.8992 L82.5,131.5496 L84.5,129.464 L85.5,131.8136 L87.5,128.4608 L88.5,142.8488 L90.5,89.4416 L91.5,91.2104 L93.5,90.392 L94.5,91.4216 L96.5,87.6464 L97.5,75.5288 L99.5,80.7296 L100.5,83.0528 L102.5,77.6408 L103.5,105.9944 L105.5,107.1032 L106.5,88.6496 L108.5,109.4264 L109.5,100.6352 L111.5,101.4272 L112.5,94.8008 L114.5,90.8408 L115.5,93.956 L117.5,81.6008 L118.5,91.1048 L120.5,104.2784 L121.5,76.0832 L123.5,125.6888 L124.5,108.74 L126.5,112.8584 L127.5,119.8016 L129.5,125.6096 L130.5,113.5184 L132.5,118.2968 L133.5,117.0296 L135.5,128.012 L136.5,113.492 L138.5,171.5984 L139.5,176.2976 L141.5,183.452 L142.5,186.62 L144.5,194.9096 L145.5,242.5352 L147.5,214.208 L148.5,215 L150.5,232.5824 L151.5,243.8552 L153.5,229.784 L154.5,221.2832 L156.5,201.5096 L157.5,172.4696 L159.5,151.3232 L160.5,163.8104 L162.5,137.8328 L163.5,158.372 L165.5,138.6776 L166.5,126.7712 L168.5,126.2432 L169.5,98.4176 L171.5,100.0544 L172.5,109.4792 L174.5,104.8064 L175.5,104.9384 L177.5,102.7472 L178.5,107.1296 L180.5,102.7472 L181.5,108.2912 L183.5,85.2176 L184.5,116.9768 L186.5,109.3208 L187.5,106.9976 L189.5,121.28 L190.5,108.8192 L192.5,75.0272 L193.5,89.5736 L195.5,74.0504 L196.5,78.8552 L198.5,75.608 L199.5,102.2984 L201.5,81.3368 L202.5,74.5256 L204.5,76.1624 L205.5,79.8056 L207.5,53.1416 L208.5,69.8528 L210.5,74.684" fill="none" stroke-width="1" stroke-opacity="0.9" stroke="#f0d7a5" stroke-linejoin="round"></path></g><clipPath id="AmChartsEl-195"><rect x="0" y="0" width="485" height="264" rx="0" ry="0" stroke-width="0"></rect></clipPath><g></g></g></g><g></g><g><g><path cs="100,100" d="M0.5,0.5 L485.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(30,264)"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,264.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#FFFFFF" transform="translate(30,0)" visibility="visible"></path></g></g><g><g transform="translate(30,0)" clip-path="url(#AmChartsEl-194)" style="pointer-events: none;"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,264.5" fill="none" stroke-width="1" stroke-opacity="0.5" stroke="#FFFFFF" visibility="hidden"></path><path cs="100,100" d="M0.5,0.5 L485.5,0.5 L485.5,0.5" fill="none" stroke-width="1" stroke="#FFFFFF" visibility="hidden"></path></g><clipPath id="AmChartsEl-194"><rect x="0" y="0" width="485" height="264" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g></g><g><g transform="translate(30,0)"></g></g><g><g></g></g><g><g transform="translate(30,0)" visibility="visible"><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" font-weight="bold" text-anchor="start" transform="translate(57,276.5)"><tspan y="6" x="0">Dec 11 UTC</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(165,276.5)"><tspan y="6" x="0">06:00 UTC</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(272,276.5)"><tspan y="6" x="0">12:00 UTC</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(380,276.5)"><tspan y="6" x="0">18:00 UTC</tspan></text></g><g transform="translate(30,0)" visibility="visible"><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,256.5)"><tspan y="6" x="0">PKR&nbsp;744,000.00</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,203.5)"><tspan y="6" x="0">PKR&nbsp;746,000.00</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,150.5)"><tspan y="6" x="0">PKR&nbsp;748,000.00</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,98.5)"><tspan y="6" x="0">PKR&nbsp;750,000.00</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,45.5)"><tspan y="6" x="0">PKR&nbsp;752,000.00</tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="11px" opacity="1" text-anchor="start" transform="translate(4,-1)"><tspan y="6" x="0"> </tspan></text><text y="6" fill="#e7e7e7" font-family="Verdana" font-size="12px" opacity="1" font-weight="bold" text-anchor="middle" transform="translate(-18,132) rotate(-90)"><tspan y="6" x="0">Gold Price per Ounce</tspan></text></g></g><g></g><g transform="translate(30,0)"></g><g></g><g></g><clipPath id="AmChartsEl-193"><rect x="-1" y="-1" width="487" height="266" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(231, 231, 231); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 511px; top: 5px;">JS chart by amCharts</a></div></div></div><a class="watermark" target="_parent" href="https://goldbroker.com/" style="bottom: 35px; right: 7px;"><img src="/build/core/images/logo/en/horizontal.8865a733.svg"></a></div></div></div></div>

            <span class="well markets-closed" data-chart-id="chart_1423759055" style="display: none;">
            <p class="text-center lead">
                Markets Closed
            </p>
            <p class="text-center">Closing Price : <span class="text-center closing-spot-price"></span></p>
        </span>
    
        <script>
        $(document).ready(function () {
            $('#chart_1423759055').chart();
        });
    </script>

</div>

                    </div>

                    <div class="read-more-6758d5c0cdc27 collapse collapse-more">
                            <p>The gold price in PKR displayed above is updated live, every minute.</p>

                        <p>Data is retrieved continuously 24/7 from the main marketplaces (LBMA, NYMEX, GLOBEX, HONG KONG). Gold prices in PKR fluctuate in real time in response to buying and selling transactions, reflecting the dynamics of supply and demand.</p><p>The London Bullion Market Association (LBMA) plays a key role in determining the gold price by organizing the “London Gold Fixing”. This twice-daily process brings together the main players in the precious metals market, such as banks and brokers, to establish a reference price. This price serves as the basis for many international transactions.</p><p>The PKR gold price is quoted in troy ounces, the official unit of measurement used on the professional market for spot transactions. One troy ounce of gold is equivalent to 31.1035 grams.</p><p>Gold, considered a safe-haven asset, sees its price influenced by various macroeconomic factors, such as interest rates, inflation and currency fluctuations. In addition, industrial and jewelry demand, as well as central bank reserves, play a crucial role in gold price trends.</p><p>With GoldBroker.com you buy and sell physical gold based on the spot gold price in Euros, US Dollars, Swiss Francs, British Pounds and Canadian Dollars.</p>
                        <p>Our range of gold products meets the needs of every investor. Purchase prices are transparent and vary according to bar weight, coin type and quantity of precious metal ordered.</p>
                    
</div>

<div class="text-center">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target=".read-more-6758d5c0cdc27" aria-expanded="false" aria-controls="read-more-6758d5c0cdc27">
        <span class="read-more-6758d5c0cdc27 collapse show">
            Show more<i class="bi bi-chevron-down ms-1"></i>
        </span>
        <span class="read-more-6758d5c0cdc27 collapse">
            Show less<i class="bi bi-chevron-up ms-1"></i>
        </span>
    </button>
</div>

                    
                </div>
            </section>