{% schema %}
{
  "name": "Graph chart Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Grap chart Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<!-- custom-section.liquid -->
<section class="custom-section">
  <div class="container">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}

    <p>{{ section.settings.description }}</p>
    
    <div class="custom-content">
      
      <!-- Add any custom HTML or dynamic content here -->
      <h1>hello bhai</h1>
       <canvas id="commodity_price_chart" class="chartjs-render-monitor" height="878" style="display: block; height: 439px; width: 1098px;" width="2196"></canvas>
    </div>
  </div>
</section>

<style>
  .custom-section {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  .custom-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
</style>



