<section>
  <iframe
    class="gold-price"
    height="600"
    width="100%"
    src="https://goldbroker.com/widget/live/XAU?currency=PKR&amp;height=1000"
    frameborder="0"
    scrolling="no"
  >
    The line graph above presents a detailed insight into the daily gold rates in Karachi over the span of 30 days,
    ranging from 15nd October 2023 to 16th November 2023. The statistics provided cover various karats and measurements
    of gold, thus giving a comprehensive view of the gold market in Karachi during this period.</iframe
  >
</section>
