<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    const http = require('https');

    const options = { method: 'GET', hostname: 'gold-rates.p.rapidapi.com', port: null, path: '/api?date=2022-01-01',
    headers: { 'x-rapidapi-key': '2f68dbf11cmsha9ad1111ff91fa8p1b9c9ejsnc5c480da1d25', 'x-rapidapi-host':
    'gold-rates.p.rapidapi.com' } }; const req = http.request(options, function (res) { const chunks = [];
    res.on('data', function (chunk) { chunks.push(chunk); }); res.on('end', function () { const body =
    Buffer.concat(chunks); console.log(body.toString()); }); }); req.end();
  </body>
</html>
