<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1 class="heading">GOLD COURSE</h1>

    <p id="date">date</p>
    <p id="base">base</p>
    <p id="rates">rates</p>

    <!--
      <table>
          <tr>
              <td>Gold alloy: €/g</td>
          </tr>
          <tr>
              <td id="coins">900 coins:</td>
          </tr>
          <tr>
              <td id="gold">Tooth gold yellow:</td>
          </tr>
          <tr>
              <td id="750gold">750 gold:</td>
          </tr>
          <tr>
              <td id="fiveeightfive">585 gold:</td>
          </tr>
          <tr>
              <td id="thirtythree">333 gold: </td>
          </tr>
      </table>
    -->
    <br>

    <div class="mainbox">
      <div class="queries">
        <div class="heading">Queries</div>
        <div>
          <input class="number" type="number" placeholder="Please enter the Price">
          <input class="number" type="number" placeholder="Please enter the weights in grams"><br>
          <button class="btn">900 Coin</button>
          <button class="btn">750 Gold</button>
          <button class="btn">585 Gold</button>
          <button class="btn">333 Gold</button><br>
          <button class="btn">Submit</button><br>
        </div>
      </div>
      <div class="results ">
        <div class="outerline">
          <div class="heading">Results</div>
        </div>
        <div class="outclass">
          <div class="output">Raghunathji</div>
        </div>
      </div>
    </div>

    <script>


// async function fetchData() {
//     const response = await fetch("https://metals-api.com/api/latest?access_key=88mblef0aaiiuj5zmafdtinn9yvy76cgb49ri64116dx08pnf0xibw6axp5b&base=EUR&symbols=XAU%2CXAG%2CXPD%2CXPT%2CXRH");
//     console.log("response", response)

//     const data = await response.json();
//     console.log("Data", data)

//     var date = document.getElementById("date")
//     date.innerHTML = `date ${data.date}`

//     var base = document.getElementById("base")
//     base.innerHTML = `base ${data.base}`

//     var rates = document.getElementById("rates")
//     rates.innerHTML = `rates ${data.rates.XAU / 28.35}`


//     var coins = document.getElementById("900coints")
//     coins.innerHTML = `900coins ${data.rates.XAU / 1000 * 900}`

//     var gold = document.getElementById("gold")
//     gold.innerHTML = `750gold ${data.rates.XAU / 1000 * 750}`

//     var fiveeightfive = document.getElementById("fiveeightfive")
//     fiveeightfive.innerHTML = `585gold ${data.rates.XAU / 1000 * 585}`

//     var thirtythree = document.getElementById("thirtythree")
//     thirtythree.innerHTML = `333gold ${data.rates.XAU / 1000 * 333}`

// }
// fetchData();
    </script>

    <style>
          .mainbox {
          display: flex;
      }


      .queries {
          border: 1px solid black;
          width: 50%;
          padding: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;


      }

      .results {
          border: 1px solid black;
          width: 50%;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;


      }

      .heading {
          font-family : sans-serif;
          font-size:35px;
      }

      .btn {
          width: 250px;
          height: 50px;
          margin: 5px;
          border-radius: 5px solid black;
      }

      .number {
          width: 240px;
          height: 50px;
          margin: 5px;
          border-radius: 5px  solid black;

      }


      .output {
          border-radius: 30px solid black;
          width: 60%;
          font-size: x-large;
          height: 65%;
          background-color: lightgray;
          display: grid;
          place-items:  center;

      }

      .outerline {
          /* border: 1px solid red; */
          width: 100%;
          display: flex;
          justify-content: center    ;
          align-items: center;
      }

      .outclass {
          /* border: 1px solid; */
          margin-top: 5px;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center    ;
          align-items: center;
      }
    </style>
  </body>
</html>
