{{ section.settings.custom_liquid }}
{% schema %}
{
   "name": "Gold Chart",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Gold Chart",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "Gold Chart"
   }]
}
{% endschema %}

<iframe
  class="gold-price"
  height="600"
  width="100%"
  src="https://goldbroker.com/widget/live/XAU?currency=PKR&amp;height=1000"
  frameborder="0"
  scrolling="no"
>
  <p class="just-text">
    The line graph above presents a detailed insight into the daily gold rates in Karachi over the span of 30 days,
    ranging from 15nd October 2023 to 16th November 2023. The statistics provided cover various karats and measurements
    of gold, thus giving a comprehensive view of the gold market in Karachi during this period.
    <span>This Graph is Adding by Uzair Malik <a href="https://github.com/UzairHumble">Uzair Malik!</a></span>
  </p>
</iframe>
