{% comment %} {{ section.settings.custom_liquid }}
{% schema %}
{
   "name": "Gold Chart Live",
   "settings": [
   {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Gold Chart",
      "info": "Add app snippets or other liquid code to create advanced customizations."
   }],
   "presets": [
   {
      "name": "Gold Chart"
   }]
}
{% endschema %} {% endcomment %}


<!-- custom-section.liquid -->
<section class="Chart for Gold Ounce">
  <div class="container">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}

    <p>{{ section.settings.description }}</p>
    
    <div class="custom-content">
      <!-- Add any custom HTML or dynamic content here -->
<!DOCTYPE html>
<html lang="en">
<head>
        
<style>

  .head-1 {
  background-color: white;
  margin: 20px;
  padding: 10px;
}
,
.head-2 {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
,
.head-3 {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
,
.head-4 {
  background-color: white;
}
</style>
  <title>Chart for Gold Ounce</title>

</head>
<body>
<!-- <iframe
  class="gold-price"
  height="400"
  width="50%"
  src="https://goldbroker.com/widget/live/XAU?currency=PKR&amp;height=1000"
  frameborder="0"
  scrolling="no"
>
  <p class="just-text">
    The line graph above presents a detailed insight into the daily gold rates in Karachi over the span of 30 days,
    ranging from 15nd October 2023 to 16th November 2023. The statistics provided cover various karats and measurements
    of gold, thus giving a comprehensive view of the gold market in Karachi during this period.
  </p>
  <span class="my-text"
    >This Graph is Adding by Uzair Malik <a href="https://github.com/UzairHumble">Uzair Malik!</a></span
  >
</iframe> -->

<h1>Develop by <a style="text-decoration:none" href="https://github.com/UzairHumble">Uzair Malik</a></h1>
<div class="main-head" style="margin: 70px;">
  <!-- Today Gold Rate Div -->
  <div class="head-1" style="margin: 50px;">
    <h2 style="text-align: left;" data-mce-style="text-align: left;"><b>Today Gold Rate&nbsp;</b></h2>

    <iframe
      class="frame-1"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpcrDqeHiHaOmpZuLvtTEjCqln6-KlMAypVpSOKCX3B2067Q67j6WIC_KCJqD0dI45HdypmDIvUMwH/pubhtml?gid=1883462982&amp;single=true&amp;widget=true&amp;headers=false"
      width="800"
      height="300"
    ></iframe>

    <p class="mytext-1" style="text-align: left;">
      Today's Gold Prices in Karachi reveal that 24K gold is priced at <span data-mce-fragment="1">Rs.249150</span>
      <span data-mce-fragment="1">&nbsp;</span>for 10 grams and&nbsp;<span data-mce-fragment="1">Rs.213609.6 </span>per
      tola, based on the data as per today, from the Karachi
      <a href="https://www.investing.com/" title="https://www.investing.com/">Jewelers</a> Association. Keep in mind
      these rates are subject to change following international market trends.&nbsp;
    </p>
  </div>
  </div>
</body>
</html>


      


    </div>
  </div>
</section>

<style>
  .custom-section {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  .custom-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
</style>

{% schema %}
{
  "name": "Chart for Gold Ounce",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Chart for Gold Ounce",
      "category": "Custom"
    }
  ]
}
{% endschema %}

